:root {
  // 1rem = 16px
  --primary-color: orange;
  --green: hsl(150, 68%, 54%);
  --blue: hsl(213, 64%, 59%);
  --orange: hsl(32, 100%, 49%);
  --fs-medium: 2rem;
}

// * primary header
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 2rem;
}

// * primary navigation
.primary-navigation {
  display: flex;
  list-style: none;
  gap: 1rem;

  @media (max-width: 40em) {
    flex-direction: column;
    gap: 2rem;
    background: hsl(0 2% 100% / 40%);
    padding: min(20vh, 10rem) 2em;

    position: fixed;
    inset: 0 0 0 30%;
  }

  @supports (backdrop-filter: blur(1rem)) {
    background: hsl(0 2% 100% / 10%);
    backdrop-filter: blur(1rem);
  }
}

.item-link,
[aria-hidden="true"] {
  font-size: 1.25rem;
}

.item-link {
  text-decoration: none;
}

[aria-hidden="true"] {
  font-weight: 800;
  margin-inline-end: 0.2em;
}
