@use "../base/index" as *;

body {
  font-family: var(--ff-bellefair);
  background-image: url(../../../assets/home/background-home-mobile.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    background-image: url(../../../assets/home/background-home-tablet.jpg);
  }

  @media (min-width: 1024px) {
    background-image: url(../../../assets/home/background-home-desktop.jpg);
  }
}
