---
// Component Imports
import Navbar from '../components/Navbar.astro'
import '../styles/main.scss'

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Start Your Adventure!</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	
</head>
<body>
	<Navbar></Navbar>
</body>
</html>
