<nav class="nav">
    <ul id="primary-navigation" class="unordered-list">
        <li class="list-item">
            <a class="item-link" href="/space-tourism/">Home
                <span aria-hidden="true">00</span>
            </a>
        </li>

        <li class="list-item">
            <a class="item-link" href="/space-tourism/destination">Destination
                <span aria-hidden="true">01</span>
            </a>
        </li>
        <li class="list-item">
            <a class="item-link" href="#">Crew
                <span aria-hidden="true">02</span>
            </a>
        </li>
        <li class="list-item">
            <a class="item-link" href="#">Technology
                <span aria-hidden="true">03</span>
            </a>
        </li>
      
    </ul>

</nav>