    <header class="header">
    <div class="logo-wrapper">
        <img src="/assets/shared/logo.svg" alt="logo" class="logo">
    </div>
      
    <button class="mobile-nav-toggle"aria-controls="primary-navigation" aria-expanded="false">
    <span class="sr-only">Menu</span>
    </button>
     

    <nav class="nav">
        <ul id="primary-navigation" class="primary-navigation">
            <li class="list-item">
                <a href="/" class="item-link"><span aria-hidden="true">00</span>Home</a>
            </li>

            <li class="list-item">
                <a href="/destination" class="item-link"><span aria-hidden="true">01</span>Destination</a>
            </li>

            <li class="list-item">
                <a href="/crew" class="item-link"><span aria-hidden="true">02</span>Crew</a>
            </li>

            <li class="list-item">
                <a href="/technology" class="item-link"><span aria-hidden="true">03</span>Technology</a>
            </li>
        </ul>
    </nav>
</header>
