@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --ff-barlow: "Barlow", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--ff-barlow);
  font-weight: 400;
  color: var(--color-contrast-high);
}

li,
a,
p,
small {
  font-family: var(--ff-barlow);
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}

$type-scale: (
  large: (
    300: 1rem,
    400: 1.125rem,
    500: 1.563rem,
    600: 1.953rem,
    700: 2.441rem,
    800: 3.052rem,
  ),
  extra-large: (
    300: 1rem,
    400: 1.225rem,
    500: 2rem,
    600: 2.827rem,
    700: 4rem,
    800: 5.653rem,
  ),
);
